* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 34px;
  text-decoration: underline;
  text-align: center;
  margin: 20px 0;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 20px 50px;
}

.play-game {
  font-size: 16px;
  width: 150px;
  height: 40px;
  background-color: rgb(56, 56, 56);
  color: #ebebeb;
  border-radius: 5px;
  border: 2px solid #ebebeb;
}

.left-half,
.right-half {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 26.5rem;
  padding: 30px;
  border-radius: 10%;
  overflow: hidden;
  background-color: #ebebeb;
  justify-content: center;
  align-content: center;
}

.board-div {
  border: 1px solid #b3b3b3;
  height: 2rem;
  width: 3rem;
  background-color: rgba(255, 247, 247, 0.956);
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 24px;
}

.hoverable-div:hover {
  background-color: #e6e6e6;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-para {
  text-decoration: #3f3f3f underline;
  font-size: 24px;
  margin-top: -15px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  color: #3f3f3f;
}

.missed-div {
  background-color: rgba(255, 0, 0, 0.653);
}

.hit-div {
  background-color: rgba(0, 128, 0, 0.632);
  font-size: 20px;
}

.ship-complete-div {
  background-color: rgba(0, 110, 255, 0.701);
  border: 0;
}

.play-again-btn,
.my-github-link {
  font-size: 16px;
  width: 150px;
  height: 40px;
  background-color: rgb(56, 56, 56);
  color: #ebebeb;
  border-radius: 5px;
  border: 2px solid #ebebeb;
  position: relative;
}

.winner-half {
  align-items: center;
  gap: 8%;
  justify-content: center;
}

.winner-name-screen {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  font-size: 24px;
  text-decoration: underline;
  font-weight: 600;
}

.showable-ship-div {
  background-color: #3f3f3f;
}
